<div class="container">
	<div class="row">
		<div class="col-sm-3" ng-controller="clienteController">
			<div class="left-sidebar">
				<h2>Cliente</h2>
				<select>
					<option ng-repeat="cliente in clientes">{{cliente.nome}}</option>
				</select>
				<a class="btn btn-primary" href="" ng-click="createPedido()" ng-show="acao == 'cadastrar'" ng-init="acao = 'cadastrar'">Cadastrar Pedido</a>
			</div>
		</div>
		<div class="col-sm-9 padding-right" ng-controller="produtoController">
			<div class="features_items">
				<h2 class="title text-center">Produtos</h2>
				<div class="col-sm-4" ng-repeat="produto in produtos">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="{{produto.full_img_url}}" alt="" />
								<h2>{{produto.preco | currency:"R$ "}}</h2>
								<p>{{produto.nome}}</p>
								<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Adicionar ao Pedido</a>
							</div>
							<div class="product-overlay">
								<div class="overlay-content">
									<h2>{{produto.preco | currency:"R$ "}}</h2>
									<p>{{produto.nome}}</p>
									<a href="#" class="btn btn-default add-to-cart" ng-click=""><i class="fa fa-shopping-cart"></i>Adicionar ao Pedido</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>