<div class="container">
	<div class="breadcrumbs">
		<ol class="breadcrumb">
		  <li><a href="#">Home</a></li>
		  <li><a href="#">Pedidos</a></li>
		  <li class="active">Novo Pedido</li>
		</ol>
	</div><!--/breadcrums-->
</div>

<div class="container">
		<div class="row">
			<div class="col-sm-3" ng-controller="clienteController">
				<div class="left-sidebar">
					<h2>Cliente</h2>
						<select>
							<option ng-repeat="cliente in clientes">{{cliente.nome}}</option>
						</select>
				</div>
			</div>
			<div class="col-sm-9 padding-right" ng-controller="produtoController">
				<div class="features_items"><!--features_items-->
					<h2 class="title text-center">Produtos</h2>
					<div class="col-sm-4" ng-repeat="produto in produtos">
						<div class="product-image-wrapper">
							<div class="single-products">
								<div class="productinfo text-center">
									<img src="{{produto.full_img_url}}" alt="" />
									<h2>{{produto.preco | currency:"R$ "}}</h2>
									<p>{{produto.nome}}</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Adicionar ao Pedido</a>
								</div>
								<div class="product-overlay">
									<div class="overlay-content">
										<h2>{{produto.preco | currency:"R$ "}}</h2>
										<p>{{produto.nome}}</p>
										<a href="#" class="btn btn-default add-to-cart" ng-click=""><i class="fa fa-shopping-cart"></i>Adicionar ao Pedido</a>
									</div>
								</div>
							</div>
							<!--<div class="choose">
								<ul class="nav nav-pills nav-justified">
									<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
									<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>
								</ul>
							</div>-->
						</div>
					</div>
					
					<ul class="pagination">
						<li class="active"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">&raquo;</a></li>
					</ul>
				</div><!--features_items-->
			</div>
		</div>
	</div>
</section>