<div class="container" ng-controller="produtoController">
	<div class="row">
		<section id="cart_items">
			<div class="col-sm-3">
				<div class="shopper-info">
					<p>Adicionar Produto</p>
					<form>
						<input type="text" ng-model="formData.nome" placeholder="Nome">
						<input type="text" ng-model="formData.full_img_url" placeholder="URL da imagem">
						<input type="text" ng-model="formData.sku" placeholder="SKU">
						<input type="number" ng-model="formData.preco" placeholder="Preço">
					</form>
					<a class="btn btn-primary" href="" ng-click="createProduto()" ng-show="acao == 'cadastrar'" ng-init="acao = 'cadastrar'">Cadastrar</a>
					<a class="btn btn-primary" href="" ng-click="updateProduto(id_alterar)" ng-show="acao == 'alterar'">Alterar</a>
					<a class="btn btn-primary" href="" ng-click="formData = ''; acao = 'cadastrar'" ng-show="acao == 'alterar'">Cancelar</a>
				</div>
			</div>
		</section>
		
		<div class="col-sm-9 padding-right">
			<div class="features_items">
				<h2 class="title text-center">Produtos</h2>
				<div class="col-sm-4" ng-repeat="produto in produtos">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">
								<img src="{{produto.full_img_url}}" alt="" />
								<h2>{{produto.preco | currency:"R$ "}}</h2>
								<p>{{produto.nome}}</p>
								<a href="#" class="btn btn-default add-to-cart" ng-click="getProduto(produto._id)"><i class="fa fa-edit"></i>Editar</a>
							</div>
							<div class="product-overlay">
								<div class="overlay-content">
									<h2>{{produto.preco | currency:"R$ "}}</h2>
									<p>{{produto.nome}}</p>
									<a href="#" class="btn btn-default add-to-cart" ng-click="getProduto(produto._id)"><i class="fa fa-edit"></i>Editar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>